<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://www.gstatic.com/firebasejs/9.6.1/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.6.1/firebase-auth-compat.js"></script>
    <script src="{{ url_for('static', filename='app.js') }}" ></script>

    <script>
      tailwind.config = {
          darkMode: 'class',
      }
  </script>
</head>
<body>



<div class="flex flex-col items-center justify-center min-h-screen p-4 bg-background sm:p-6 md:p-10 text-base sm:text-lg">
  

    <div class="w-full max-w-md p-8 space-y-8 bg-card rounded-lg shadow-xl sm:p-6 md:p-10 text-base sm:text-lg">
      
    <div class="text-center sm:p-6 md:p-10 text-base sm:text-lg">
    <h1 class="text-3xl font-bold text-primary text-purple-500 ">Welcome Back</h1><p class="text-muted-foreground">Sign in to continue.</p>
    </div>

    
    
    
    
      <div class="space-y-2 ">
    
    <form onsubmit="handleLoginSubmit(event)">
    
    <label class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
     for="«r8»-form-item">Email</label>
    
     <input type="email" id="email" placeholder="Email" class="w-full p-2 mb-4 border rounded dark:" />
    </div>
    
    
    <div class="space-y-2">
    
    
      <label class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
      for="«r9»-form-item">Password</label>
    
      
      <input type="password" id="password" placeholder="Password" class="w-full p-2 mb-4 border rounded" />
    </div>


    
      <button onclick="login()" id="keydown" type="submit" class="w-full bg-purple-600 text-white p-2 rounded hover:bg-purple-700">Login</button>
      <p id="error-message" class="text-red-500 mt-2"></p>
    </form>

    
    
    
      
      <div class="text-center text-sm">Don't have an account? 
    
        
      <a class="font-medium text-primary hover:underline text-blue-500" href="/signup">Sign up</a></div></div></div>

    </body>
</html>
